<h2 class="mt-2">Crear Reclamo</h2>
<form [formGroup]="reclamoForm" (ngSubmit)="createReclamo(reclamoForm.value)">
  <div class="form-group mx-sm-3 mb-2">
    <label for="titulo"> Título del reclamo </label>
    <input
      id="titulo"
      type="text"
      class="form-control"
      formControlName="titulo"
      placeholder="Título"
      required
    />
  </div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    *ngIf="
      reclamoForm.get('titulo').hasError('required') &&
      reclamoForm.get('titulo').touched
    "
  >
    Título requerido
  </div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    *ngIf="
      reclamoForm.get('titulo').hasError('minlength') &&
      reclamoForm.get('titulo').touched
    "
  >
    Longitud mínima de 3 caracteres
  </div>

  <div class="form-group mx-sm-3 mb-2">
    <label for="detalle"> Detalle del reclamo </label>
    <input
      id="detalle"
      type="text"
      class="form-control"
      formControlName="detalle"
      placeholder="Detalle del reclamo"
      required
    />
  </div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    *ngIf="
      reclamoForm.get('detalle').hasError('required') &&
      reclamoForm.get('detalle').touched
    "
  >
    Detalle requerido
  </div>
  <div
    class="alert alert-danger alert-dismissible fade show"
    *ngIf="
      reclamoForm.get('detalle').hasError('minlength') &&
      reclamoForm.get('detalle').touched
    "
  >
    Longitud mínima de 10 caracteres
  </div>

  <div class="mt-4 mb-4">
    <p>
      Elegir si hacer el reclamo sobre una petición o una queja (sólo se
      mantiene el de la opción seleccionada). Se muestran únicamente las
      peticiones o quejas sobre la que es posible realizar un reclamo (realizada
      hace más de 5 días o recibió respuesta del área administrativa).
    </p>
    <div class="btn-group" role="group" aria-label="Button group">
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
        (click)="onClickQuejaReclamo(0)"
      />
      <label class="btn btn-outline-success" for="btnradio1">Petición</label>

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
        (click)="onClickQuejaReclamo(1)"
      />
      <label class="btn btn-outline-success" for="btnradio2">Queja</label>
    </div>
  </div>

  <div *ngIf="selectedOption == 0">
    <div class="form-group mx-sm-3 mb-2">
      <label for="idPeticion">Petición: </label>
      <select
        class="form-control form-select"
        id="idPeticion"
        rows="5"
        formControlName="idPeticion"
      >
        <option
          *ngFor="let peticion of todasPeticionesDisponibles"
          value="{{ peticion.id }}"
        >
          {{ peticion.titulo }}
        </option>
      </select>
    </div>
  </div>

  <div *ngIf="selectedOption == 1">
    <div class="form-group mx-sm-3 mb-2">
      <label for="idQueja">Queja: </label>
      <select
        class="form-control form-select"
        id="idQueja"
        rows="5"
        formControlName="idQueja"
      >
        <option
          *ngFor="let queja of todasQuejasDisponibles"
          value="{{ queja.id }}"
        >
          {{ queja.titulo }}
        </option>
      </select>
    </div>
  </div>

  <div class="mt-4 form-inline justify-content-center align-self-center">
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="reclamoForm.invalid"
    >
      Crear
    </button>
    <button type="button" class="btn btn-danger" (click)="cancelCreation()">
      Cancelar
    </button>
  </div>
</form>
